<div class="d-flex flex-column h-100">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <a href="#" class="nav-link active" onclick="loadHomePage()">
                🛒 Dashboard 
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-dark">
                📦 Products 
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-dark">
                👥 Customers
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-dark">
                📦 Orders 
            </a>
        </li>
    </ul>
</div>