<div class="d-flex flex-column h-100">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <a href="#" class="nav-link active" id="nav-dashboard" onclick="loadHomePage(event)">
                🛒 Dashboard 
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-dark" id="nav-products" onclick="loadProductsPage(event)">
                📦 Products 
            </a>
        </li>
        <li class="nav-item mb-2">
            <a href="#" class="nav-link text-dark" id="nav-orders" onclick="loadOrdersPage(event)">
                📜 Orders 
            </a>
        </li>
    </ul>
</div>