<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/fr.jpg" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            FashionRack
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        CLOTHING
                    </a>
                 <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">DRESSES</a></li>
    <li><a class="dropdown-item" href="#">TOPS</a></li>
    <li><a class="dropdown-item" href="#">SHIRTS</a></li>
    <li><a class="dropdown-item" href="#">JEANS</a></li>
    <li><a class="dropdown-item" href="#">SKIRTS</a></li>
    <li><a class="dropdown-item" href="#">BLAZERS</a></li>
    <li><a class="dropdown-item" href="#">SHORTS</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">SOMETHING ELSE HERE</a></li>
</ul>
</li>
                <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ACCESSORIES
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">JEWELLERY</a></li>
        <li><a class="dropdown-item" href="#">WATCHES</a></li>
        <li><a class="dropdown-item" href="#">HAIR ACCESSORIES</a></li>
        <li><a class="dropdown-item" href="#">WALLETS</a></li>
        <li><a class="dropdown-item" href="#">SUNGLASSES</a></li>

        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">SOMETHING ELSE HERE</a></li>
    </ul>
</li>
                <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        BAGS & SHOES
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">BAGS</a></li>
        <li><a class="dropdown-item" href="#">SHOES</a></li>

        <li><hr class="dropdown-divider"></li>

        <li><a class="dropdown-item" href="#">SOMETHING ELSE HERE</a></li>
    </ul>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>