body {
    /* overflow: hidden-a thookidunga */
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-color: #f8f9fa; /* bg-light background */
}

#root {
    /* Height-a auto-va vachukalam appo thaan content-kku thontha mathiri scroll aagum */
    min-height: calc(100vh - 60px); 
    display: flex;
    flex-direction: column;
}

/* Sidebar-a oru idathula fix panni vachikalam (Sticky) */
#sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.product-card {
    height: 100%;
    overflow: hidden; 
}

.product-img {
    height: 280px; 
    object-fit: cover; 
    transition: transform 0.4s ease-in-out; 
}

.product-card:hover .product-img {
    transform: scale(1.08); 
}

#product-list {
    height: 55vh; 
    overflow-y: auto; 
}